<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1d5d75a1-6586-48a3-8b56-10ac0b437638/resourceGroups/calendar-skill/providers/Microsoft.Web/sites/calendar-skill-u77cnkw</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://calendar-skill-u77cnkw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>calendar-skill-u77cnkw.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>calendar-skill-u77cnkw</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$calendar-skill-u77cnkw</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>